* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 10px;
}
ul {
    list-style: none;
    display: inline-grid;
    padding: 10px;
    outline: 2px solid grey;
    border-radius: 4px;
    gap: 10px;
    overflow: auto;
    color: grey;
}
li {
    cursor: pointer;
}
li:hover {
    color: black;
}
span {
    padding: 4px;
}
.active {
    filter: drop-shadow(1px 0 0px grey);
}

.horizontal {
    grid-auto-flow: column;
    resize: horizontal;
}
.vertical {
    grid-auto-flow: row;
    resize: vertical;
}
